entrypoint = "index.js"

[nix]
channel = "stable-24_11"

modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

# Run butonunda sadece workflow çalışsın
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Local Press API"

[[workflows.workflow]]
name = "Local Press API"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./scripts/start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
